[{{ system_user }}]
user = {{ system_user }}
group = {{ system_user }}
listen = /run/php/{{ php_version }}/{{ system_user }}.sock
listen.owner = {{ listen_owner }}
listen.group = {{ listen_group }}
listen.mode = 0660

pm = dynamic
pm.max_children = {{ max_children }}
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = {{ max_requests }}

php_admin_value[memory_limit] = {{ memory_mb }}M
php_admin_value[max_execution_time] = {{ max_exec_secs }}
php_admin_value[upload_max_filesize] = 64M
php_admin_value[post_max_size] = 64M
php_admin_value[open_basedir] = /home/{{ system_user }}/{{ domain }}:/tmp

catch_workers_output = yes
chdir = /
clear_env = no
